<%= stylesheet_link_tag "sweetalert" %>
<%= javascript_include_tag "sweetalert"%>

<div class="para-new">
	<div class="container">
		<a id="new_para_btn" class="new_para btn btn-success" href="javascript:;">
			<i class="folder ion-plus-round"></i>Add New Paragraph
		</a>

    <div id="newParaPanel" class="panel panel-default panel-new-para hidden">
			<div class="panel-heading clearfix">
				<h4 class="panel-title pull-left">
					New Paragraph
				</h4>
				<a id="cancelNewPara" class="close">
					<i class="folder ion-close-round"></i>
				</a>
			</div>
      <div class="panel-body">
		    <div class="new-para">
          <select class="form-control" id="para_type">
						<option disabled="" selected="">choose a paragraph type</option>
						<option value="Video">课程视频</option>
						<option value="Text">课程文本</option>
					</select>
        </div>

        <div class="upload-video">
          <div id="uploader">
				    <form id="upload" enctype="multipart/form-data" action="/upload_file" method="post" >
              <input type="hidden" id="section-id" name="section_id" value="<%=params[:id]%>">

              <div class="form-group">
                <label>Course Video: </label>
                <input id="video" name="video" type="file"/>
              </div>
              
							<div class="form-group">
                <label>Video Srt File: </label>
                <input id="srt" name="srt" type="file"/>
              </div>
        
						  <input type="button" id="upload-btn" class="btn btn-success" value="Upload" />
				    </form>
          </div>
				    
				  <div id="uploading"> 
						<div class="progress">
		          <div class="progress-bar progress-bar-success myprogress" role="progressbar" style="width:0%">0%</div>
		        </div>
            <div class="upload-msg"></div>
				  </div>          
        </div>

      </div>
    </div>
    
    <div style="clear:both;"></div>
		<div class="row">
			<div class="col-sm-10">
				<div style="border: 1px solid red">How are you recently?</div>
			</div>
		</div>

	</div>
</div>
<style type="text/css">
#new_para_btn{
  color: #fff;
  font-weight: bold;
}

.new_para{
  margin-top: 15px;
  margin-bottom: 15px;
}

.panel-new-para.hidden{
  display: none;
}

.upload-video{
  margin-top: 15px;
}

#uploading{
  margin-top: 15px;
}
</style>
<script type="text/javascript">
$('body').on('click', '#new_para_btn', function() {
	$(this).hide();
	$("#newParaPanel").removeClass("hidden");
});

$('body').on('click', '#cancelNewPara', function() {
  $("#para_type").prop('selectedIndex', 0)
	$('#newParaPanel').addClass("hidden");
	$('#new_para_btn').show();
});

$('#para_type').change(function() {
	var selectIndex=this.selectedIndex;
  //var selectValue=this.options[selectIndex].text;
  var selectValue=this.options[selectIndex].value;
  alert(selectValue);
	$(this).css('margin-bottom','15px');
});

$(function (){
  $('#upload-btn').click(function () {
    $('.myprogress').css('width', '0');
    $('.upload-msg').text('');
    var video = $('#video').val();
    var srt = $('#srt').val();
    if (video == '' || srt == '') {
      swal("Empty file error!", "Please select video and srt file", "error");
      return;
    }
        
    var formData = new FormData();
    formData.append('video', $('#video')[0].files[0]);
    formData.append('srt', $('#srt')[0].files[0]);
    formData.append('section_id', "<%=params[:id]%>");
    $('#upload-btn').attr('disabled', 'disabled');
    $('.upload-msg').text('Uploading in progress...');

		$.ajax({
			url: $("#upload").attr("action"),
			data: formData,
			processData: false,
			contentType: false,
      dataType: 'json',
			type: 'POST',
			// this part is progress bar
			xhr: function () {
			  var xhr = new window.XMLHttpRequest();
				xhr.upload.addEventListener("progress", function (evt) {
					if (evt.lengthComputable) {
						var percentComplete = evt.loaded / evt.total;
						percentComplete = parseInt(percentComplete * 100);
						$('.myprogress').text(percentComplete + '%');
						$('.myprogress').css('width', percentComplete + '%');
					}
				}, false);
				return xhr;
			},
			success: function (result) {
			  $('.upload-msg').text(result.data);
				$('#upload-btn').removeAttr('disabled');
			}
		});
  });
});

</script>

