<video
	  id="my-player"
	  class="video-js vjs-default-skin vjs-big-play-centered"
	  controls
    width="570" 
    height="320"
	  preload="auto"
    poster="assets/fish.jpeg"
	  data-setup='{}'>
	<source src="uploads/DistributedFileSystems.mp4" type="video/mp4"></source>
	<p class="vjs-no-js">
	  To view this video please enable JavaScript, and consider upgrading to a
	  web browser that
	  <a href="http://videojs.com/html5-video-support/" target="_blank">
	    supports HTML5 video
	  </a>
	</p>
</video>

<style type="text/css">
/* Show the controls (hidden at the start by default) */
.video-js .vjs-control-bar { display: block; }
</style>



