<div id="content" class="content-wrapper">
	<nav aria-label="Course Material" class="courseware wrapper-course-material">
		<div class="course-material">
		  <ol class="course-tabs">
		        <li>
		           <a class="" href="/courses/course-v1:ComputerScience+MMDS+SelfPaced/info">
		               Home
		           </a>
		        </li>
		        <li>
		           <a class="active" href="/courses/course-v1:ComputerScience+MMDS+SelfPaced/courseware">
		               Course
		                 <span class="sr">, current location</span>
		           </a>
		        </li>
		        <li>
		           <a class="" href="/courses/course-v1:ComputerScience+MMDS+SelfPaced/discussion/forum">
		               Discussion
		           </a>
		        </li>
		        <li>
		           <a class="" href="/courses/course-v1:ComputerScience+MMDS+SelfPaced/progress">
		               Progress
		           </a>
		        </li>
		  </ol>
		</div>
	</nav>

	<div class="container">
    <div class="course-wrapper" role="presentation">
      <div class="course-index">
        <div class="wrapper-course-modes">
          <div class="courseware-bookmarks-button" data-bookmarks-api-url="/api/bookmarks/v1/bookmarks/">
						<button type="button" class="ion-bookmark bookmarks-list-button is-inactive" aria-pressed="false">
							Bookmarks
						</button>
				  </div>
        </div>
        <div class="accordion">
          <%=render :partial => "courses/course_nav"%>
        </div>
      </div>
      <%=render :partial => "courses/course_content"%>
    </div>
	</div>

  <div class="container-footer">
    <div class="course-license">
      &copy; <span class="license-text">All Rights Reserved</span>
    </div>
  </div>
</div>




<script type="text/javascript">
/*player.ready(function(){
    //在回调函数中，this代表当前播放器，
    //可以调用方法，也可以绑定事件。
})

if(player.readyState() < 1) {
  // do not have metadata yet so loadedmetadata event not fired yet (I presume)
  // wait for loadedmetdata event
  player.one("loadedmetadata", onLoadedMetadata);
}
else {
  // metadata already loaded
  onLoadedMetadata();
}

function onLoadedMetadata() {
  alert(player.duration());
  //视频总的时长，加载完成视频才可以知道视频时长，且在flash情况下无效
}*/

</script>

<style text="css">
</style>



