<div style="color:red;">VideoJS player origin skin.</div>
<div class="video-js-box vjs-paused" style="width: 570px;">
	<video
			id="default-player"
			class="video-js"
			controls
			preload="auto"
		  poster="assets/fish.jpeg"
			data-setup='{}'>
		<source src="uploads/DistributedFileSystems.mp4" type="video/mp4"></source>
		<p class="vjs-no-js">
			To view this video please enable JavaScript, and consider upgrading to a
			web browser that
			<a href="http://videojs.com/html5-video-support/" target="_blank">
			  supports HTML5 video
			</a>
		</p>
	</video>
</div>

<style type="text/css">
body { background: #222; text-align: center; }
.video-js-box { margin: 20px auto; }
</style>

