<%= stylesheet_link_tag "confirm?#{Time.now.to_i}" %>

<div class="main_cen">
	<p class="title_big red">重新发送验证邮件</p>
	<p class="title1"></p>
	<p style="text-align:center">
	请在输入框内填写您注册时使用的邮箱地址，然后点击“重发确认信”。<br><br>
	<b>友情提示：</b>如果您未能在上次成功发送确认信的48小时内完成确认，请您<a href="/register"><u>重新注册</u></a>。
	</p>
	<br>
	<%if flash.now[:error]%>
  <div id="notice"><%=flash.now[:error]%></div>
  <%end%>
  <%=form_tag reactive_path do%>
	<ul class="mainlogin">
		<li>
		<div class="ml_l f20">帐号尚未激活,您的邮件地址：</div>
		<div class="ml_r">
			<div class="inputbox"><span class="input "><cite><input type="text" value="<%=params['email']%>" alt="邮箱地址:无内容/有全角/有空格/有大写/有中文/邮箱地址/非新浪邮箱/focusFn{unameTip}/errArea{usernametip}" maxlength="64" name="email" id="username" class="user-email"></cite></span></div>
     
		<span id="usernametip"><span><span class="inputacc"><span class="yes"></span></span></span></span>
		</div>
		</li>
		<li>
		<div class="ml_l"></div>
		<div class="ml_r">
			<button id="btn_submit" type="submit" class="btn_submit" name="submit">
        重发确认信
      </button>
		</div>
		</li>
	</ul>
  <%end%>
</div>

<script type="text/javascript">
  var btn=document.getElementById("btn_submit");
  btn.onclick=function(){this.setAttribute("disabled", "disabled");};
</script>

