<div style="color:red;">VideoJS player med standard skin.</div>
<div class="video-js-box vjs-paused" style="width: 770px;">
	<video
			id="default-player"
			class="video-js"
			controls
			preload="auto"
		  poster="assets/fish.jpeg"
			data-setup='{}'
      width="770" height="520">
		<source src="uploads/DistributedFileSystems.mp4" type="video/mp4"></source>
		<p class="vjs-no-js">
			To view this video please enable JavaScript, and consider upgrading to a
			web browser that
			<a href="http://videojs.com/html5-video-support/" target="_blank">
			  supports HTML5 video
			</a>
		</p>
	</video>
</div>

<hr>
<div style="color:red;">VideoJS player med Vimeo skin.</div>
<div class="video-js-box vim-css vjs-paused" style="width: 770px;">
	<video
			id="vim-player"
			class="video-js"
			controls
			preload="auto"
		  poster="assets/fish.jpeg"
			data-setup='{}'
      width="770" height="520">
		<source src="uploads/chacha.mp4" type="video/mp4"></source>
		<p class="vjs-no-js">
			To view this video please enable JavaScript, and consider upgrading to a
			web browser that
			<a href="http://videojs.com/html5-video-support/" target="_blank">
			  supports HTML5 video
			</a>
		</p>
	</video>
</div>

<hr>
<div style="color:red;">VideoJS player med Youtube skin.</div>
<div class="video-js-box tube-css vjs-paused" style="width: 770px;">
<video
	  id="tube-player"
	  class="video-js"
	  controls
	  preload="auto"
    poster="assets/fish.jpeg"
	  data-setup='{}'
    width="770" height="520">
	<source src="uploads/01-Introduction.mp4" type="video/mp4"></source>
	<p class="vjs-no-js">
	  To view this video please enable JavaScript, and consider upgrading to a
	  web browser that
	  <a href="http://videojs.com/html5-video-support/" target="_blank">
	    supports HTML5 video
	  </a>
	</p>
</video>
</div>

<style type="text/css">
body { background: #efe; text-align: center; }
.video-js-box { margin: 20px auto; }
</style>



