<section aria-label="Content" role="main" id="course-content" class="course-content">
  <div data-course-id="course-v1:ComputerScience+MMDS+SelfPaced" data-type="Sequence"
  data-usage-id="block-v1:ComputerScience+MMDS+SelfPaced+type@sequential+block@580e203abd3843389833fc4040d55549"
  data-runtime-version="1" data-request-token="b6c3f5445b2011e7a1cb06b20e489035"
  data-block-type="sequential" data-init="XBlockToXModuleShim" data-runtime-class="LmsRuntime"
  class="xblock xblock-student_view xblock-student_view-sequential xmodule_display xmodule_SequenceModule xblock-initialized">
    <div data-ajax-url="/courses/course-v1:ComputerScience+MMDS+SelfPaced/xblock/block-v1:ComputerScience+MMDS+SelfPaced+type@sequential+block@580e203abd3843389833fc4040d55549/handler/xmodule_handler"
    data-position="1" data-id="block-v1:ComputerScience+MMDS+SelfPaced+type@sequential+block@580e203abd3843389833fc4040d55549"
    class="sequence" id="sequence_580e203abd3843389833fc4040d55549">
      <div class="path">
        Final Exam &gt; To The Final; Read Directions FIRST &gt; The Final Exam
      </div>
      <div class="sequence-nav">
        <button class="sequence-nav-button button-previous disabled" disabled="disabled">
          <span aria-hidden="true" class="icon fa ion-chevron-left">
          </span>
          <span class="sr">
            Previous
          </span>
        </button>

				<nav aria-label="Unit" class="sequence-list-wrapper">
					<ol id="sequence-list" style="left: 0px;">
						<li>
							<a tabindex="0" id="tab_0" aria-controls="seq_contents_0" data-path="Introduction &gt; How to navigate this course &gt; Welcome"
							data-page-title="Text" href="javascript:void(0);" data-element="1" data-id="block-v1:Education+LeadEL+SelfPaced+type@vertical+block@9de4fd62ac7040da87a8ba6a03120af2"
							class="seq_other progress-0 nav-item visited">
								<i aria-hidden="true" class="type-fa ion-document-text">
								</i>
								<i aria-hidden="true" class="fa fa-fw ion-bookmark bookmark-icon bookmarked">
								</i>
								<p><span class="sr">other</span>Text<span class="sr bookmark-icon-sr">&nbsp;Bookmarked</span></p>
							</a>
						</li>
						<li>
							<a tabindex="0" id="tab_1" aria-controls="seq_contents_1" data-path="Introduction &gt; How to navigate this course &gt; Navigation"
							data-page-title="Text" href="javascript:void(0);" data-element="2" data-id="block-v1:Education+LeadEL+SelfPaced+type@vertical+block@82735ee78887437f9b2e5173e51f32c2"
							class="seq_other progress-0 nav-item active">
								<i aria-hidden="true" class="type-fa ion-document-text">
								</i>
								<i aria-hidden="true" class="fa fa-fw ion-bookmark bookmark-icon bookmarked">
								</i>
								<p><span class="sr">other</span>Text<span class="sr bookmark-icon-sr">&nbsp;Bookmarked</span></p>
							</a>
						</li>
						<li>
							<a tabindex="0" id="tab_2" aria-controls="seq_contents_2" data-path="Introduction &gt; How to navigate this course &gt; Videos"
							data-page-title="About the video player" href="javascript:void(0);" data-element="3"
							data-id="block-v1:Education+LeadEL+SelfPaced+type@vertical+block@08e17d7c5e344a8ba594e66c8336c677"
							class="seq_video inactive progress-0 nav-item">
								<i aria-hidden="true" class="type-fa ion-document-text">
								</i>
								<i aria-hidden="true" class="fa fa-fw ion-bookmark bookmark-icon is-hidden">
								</i>
								<p><span class="sr">video</span>About the video player Video<span class="sr bookmark-icon-sr">&nbsp;</span></p>
							</a>
						</li>
						<li>
							<a tabindex="0" id="tab_3" aria-controls="seq_contents_3" data-path="Introduction &gt; How to navigate this course &gt; Discussions"
							data-page-title="Forum" href="javascript:void(0);" data-element="4" data-id="block-v1:Education+LeadEL+SelfPaced+type@vertical+block@e6e1f265d6e64baea7b563eb0db1a7e2"
							class="seq_other inactive progress-0 nav-item">
								<i aria-hidden="true" class="type-fa ion-document-text">
								</i>
								<i aria-hidden="true" class="fa fa-fw ion-bookmark bookmark-icon bookmarked">
								</i>
								<p><span class="sr">other</span>Forum<span class="sr bookmark-icon-sr">&nbsp;Bookmarked</span></p>
							</a>
						</li>
						<li>
							<a tabindex="0" id="tab_4" aria-controls="seq_contents_4" data-path="Introduction &gt; How to navigate this course &gt; Need Help?"
							data-page-title="Help Tab" href="javascript:void(0);" data-element="5"
							data-id="block-v1:Education+LeadEL+SelfPaced+type@vertical+block@2af757fd7b714bd8aa528f898fc7c961"
							class="seq_other inactive progress-0 nav-item">
								<i aria-hidden="true" class="type-fa ion-document-text">
								</i>
								<i aria-hidden="true" class="fa fa-fw ion-bookmark bookmark-icon bookmarked">
								</i>
								<p><span class="sr">other</span>Help Tab<span class="sr bookmark-icon-sr">&nbsp;Bookmarked</span></p>
							</a>
						</li>
					</ol>
					<div class="left-shadow" style="opacity: 0;">
					</div>
					<div class="right-shadow" style="opacity: 0;">
					</div>
				</nav>

        <!--nav aria-label="Unit" class="sequence-list-wrapper">
          <ol id="sequence-list" >
            <li>
              <a tabindex="0" id="tab_0" aria-controls="seq_contents_0" data-path="Final Exam &gt; To The Final; Read Directions FIRST &gt; The Final Exam"
              data-page-title="MapReduce Join" href="javascript:void(0);" data-element="1"
              data-id="block-v1:ComputerScience+MMDS+SelfPaced+type@vertical+block@6adde7057a97479982ac3c0e68618726"
              class="seq_problem nav-item active progress-none">
                <i aria-hidden="true" class="type-fa ion-document-text">
                </i>
                <i aria-hidden="true" class="fa fa-fw ion-bookmark bookmark-icon is-hidden">
                </i>
                <p><span class="sr">problem</span>Text<span class="sr bookmark-icon-sr">&nbsp;</span></p>
              </a>
            </li>
          </ol>
          <div class="left-shadow" style="opacity: 0;">
          </div>
          <div class="right-shadow" style="opacity: 0;">
          </div>
        </nav-->

        <button class="sequence-nav-button button-next disabled" disabled="disabled">
          <span aria-hidden="true" class="icon fa ion-chevron-right">
          </span>
          <span class="sr">
            Next
          </span>
        </button>
      </div>
      <div tabindex="-1" class="sr-is-focusable">
      </div>
      <div class="seq_contents tex2jax_ignore asciimath2jax_ignore" aria-hidden="true"
      aria-labelledby="tab_0" id="seq_contents_0">
        
      </div>
      <div id="seq_content" aria-labelledby="tab_0">
        <div data-block-type="vertical" data-usage-id="block-v1:ComputerScience+MMDS+SelfPaced+type@vertical+block@6adde7057a97479982ac3c0e68618726"
        data-runtime-version="1" data-request-token="b6c3f5445b2011e7a1cb06b20e489035"
        data-course-id="course-v1:ComputerScience+MMDS+SelfPaced" data-init="VerticalStudentView"
        data-runtime-class="LmsRuntime" class="xblock xblock-student_view xblock-student_view-vertical xblock-initialized">
          <div class="bookmark-button-wrapper">
            <button data-bookmark-id="simontung,block-v1:ComputerScience+MMDS+SelfPaced+type@vertical+block@6adde7057a97479982ac3c0e68618726"
            aria-pressed="false" class="ion-bookmark btn bookmark-button">
              <span class="sr bookmark-sr">
                Click to add
              </span>
              &nbsp; Bookmark
            </button>
          </div>
          <div style="clear:both"></div>
          <%=render :partial => "courses/vert"%>
          <%#=render :partial => "courses/video"%>
        </div>
      </div>
      <nav aria-label="Section" class="sequence-bottom">
        <button class="sequence-nav-button button-previous disabled" disabled="disabled">
          <span aria-hidden="true" class="icon fa ion-chevron-left">
          </span>
          Previous
        </button>
        <button class="sequence-nav-button button-next disabled" disabled="disabled">
          <span aria-hidden="true" class="icon fa ion-chevron-right">
          </span>
          Next
        </button>
      </nav>
    </div>
    <script type="text/javascript">
      /*var sequenceNav;
      $(document).ready(function() {
        sequenceNav = new SequenceNav($('.sequence-nav'));
      });*/
    </script>
  </div>
</section>
