<div class="vert-mod">
  <div data-id="block-v1:ComputerScience+MMDS+SelfPaced+type@video+block@9e0e334bcfee4ac793656be336e1734d"
  class="vert vert-0">
    <div data-course-id="course-v1:ComputerScience+MMDS+SelfPaced" data-type="Video"
    data-usage-id="block-v1:ComputerScience+MMDS+SelfPaced+type@video+block@9e0e334bcfee4ac793656be336e1734d"
    data-runtime-version="1" data-request-token="a01add4e7e6611e7b50f06b20e489035"
    data-block-type="video" data-init="XBlockToXModuleShim" data-runtime-class="LmsRuntime"
    class="xblock xblock-student_view xblock-student_view-video xmodule_display xmodule_VideoModule xblock-initialized">
      <h3>
        Video
      </h3>
      <div tabindex="-1" data-poster="null" data-bumper-metadata="null" data-metadata=""
      class="video is-captions-rendered is-initialized" id="video_9e0e334bcfee4ac793656be336e1734d">
        <div class="focus_grabber first" tabindex="-1">
        </div>
        <div class="tc-wrapper">
          <a class="nav-skip sr" href="#before-transcript_9e0e334bcfee4ac793656be336e1734d">
            Skip to a navigable version of this video's transcript.
          </a>
          <article class="video-wrapper">            
            <section class="video-player">
              <div id="9e0e334bcfee4ac793656be336e1734d">
                <video
									id="default-player"
									class="video-js vjs-default-skin vjs-big-play-centered video-js-box vjs-paused"
									controls
									preload="auto"
									poster="assets/bigfish.png"
									width="539" 
									height="450"
									data-setup='{}'>
								<source src="uploads/DistributedFileSystems.mp4" type="video/mp4"></source>
								<track kind='captions' src='uploads/Distributed+File+Systems+(15_50).vtt' srclang='zh' label='Chinese' default />
								<p class="vjs-no-js">
									To view this video please enable JavaScript, and consider upgrading to a
									web browser that
									<a href="http://videojs.com/html5-video-support/" target="_blank">
										supports HTML5 video
									</a>
								</p>
							</video>
							

              </div>
              <h4 class="video-error is-hidden">
                No playable video sources found.
              </h4>
            </section>            
          </article>
          <div aria-label="Activating an item in this group will spool the video to the corresponding time point. To skip transcript, go to previous item."
          role="region" class="subtitles" style="max-height: 448px;">
            <ol class="subtitles-menu" id="transcript-captions">
              <li class="spacing" style="height: 214px;" tabindex="-1">
              </li>
              <%@captions.each do |c|%>
                <li role="link" data-index="<%=c['id']%>" data-start="<%=c['miliseconds']%>" tabindex="0">
                <%=c['text']%>
                </li>
              <%end%>
              <li class="spacing" style="height: 190px;" tabindex="-1">
              </li>
            </ol>
          </div>
        </div>       
        
        <a id="after-transcript_9e0e334bcfee4ac793656be336e1734d" class="nav-skip sr" href="#before-transcript_9e0e334bcfee4ac793656be336e1734d">Go back to start of transcript.</a>
        <div class="focus_grabber last" tabindex="-1"></div>

      </div>
    </div>
  </div>
</div>

<%=sanitize "I&#39;m Anand Rajaraman and today&#39;s topic is Map-Reduce."%>
<div id="tracks-length"></div>
<div id="track-id"></div>
<div id="track-start"></div>
<div id="track-end"></div>
<div id="track-text"></div>


