.wrapper-course-material:after {
    clear: both;
    content: "";
    display: table;
}
body.view-in-course .wrapper-course-material {
    padding: 0;
}
.wrapper-course-material {
    border-bottom: medium none;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

nav, section {
    display: block;
}

.wrapper-course-material ol.course-tabs:after {
    clear: both;
    content: "";
    display: table;
}

body.view-in-course .wrapper-course-material .course-material .course-tabs {
    padding: 0;
}

.wrapper-course-material ol.course-tabs {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 15px 0;
}
nav ul, nav ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}


.wrapper-course-material ol.course-tabs li a.active {
    background-color: transparent;
    border-bottom: 3px solid #181818;
    color: #181818;
}
.wrapper-course-material ol.course-tabs li a {
    border-bottom: 3px solid transparent;
    color: #5e5e5e;
    display: block;
    padding: 10px 15px 13px;
    text-align: center;
    text-decoration: none;
}

.wrapper-course-material ol.course-tabs li.prominent {
    background: rgba(255, 255, 255, 0.5) none repeat scroll 0 0;
    border-radius: 3px;
    margin-right: 16px;
}
.wrapper-course-material ol.course-tabs li.prominent + li {
    border-left: 1px solid #2f2f2f;
    padding-left: 15px;
}

a, a:visited {
    color: #4f7573;
    font: inherit;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}
a {
    color: #005584;
}

.wrapper-course-material ol.course-tabs li a{
  font-size: 14px;
  line-height: 20.72px;
}

/****************************************************/
.wrapper-course-material ol.course-tabs li a:hover, .wrapper-course-material ol.course-tabs li a:focus {
    border-bottom: 3px solid #6f9593;
    color: #6f9593;
}
.wrapper-course-material ol.course-tabs li a.active {
    background-color: transparent;
    border-bottom: 3px solid #181818;
    color: #181818;
}
.wrapper-course-material ol.course-tabs li a.active:hover, .wrapper-course-material ol.course-tabs li a.active:focus {
    color: #181818;
}
/****************************************************/
.wrapper-course-material ol.course-tabs li {
    float: left;
    list-style: outside none none;
}
ul li, ol li {
    font-family: "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif !important;
}

.wrapper-course-material ol.course-tabs li {
    list-style: outside none none;
}

ul li, ol li {
    font-family: "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif !important;
}

/******.sr**********************************************/
.sr {
    border: 0 none;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal;
}

section.introduction h1.sr {
    min-height: 100px;
}

.course-index .sr {
    background: #fff none repeat scroll 0 0;
    color: #000;
}


/**********.container******************************************/
.container::after {
    clear: both;
    content: "";
    display: table;
}
.container::after, section.outside-app:after, .wrapper-account-settings:after, .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy:after, .view-profile .wrapper-profile-sections:after {
    clear: both;
    content: "";
    display: table;
}
body.view-in-course .container {
    max-width: none;
    min-width: initial;
    padding: 0 2%;
    width: auto;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1180px;
    min-width: 760px;
    padding: 40px 0;
    width: 100%;
}
.container, section.outside-app, .wrapper-account-settings, .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy, .view-profile .wrapper-profile-sections {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 1180px;
    min-width: 760px;
    padding: 40px 0;
    width: 100%;
}


body.view-in-course .course-wrapper, body.view-in-course .profile-wrapper, body.view-in-course .instructor-dashboard-wrapper-2, body.view-in-course .wiki-wrapper, body.view-in-course .teams-wrapper, body.view-in-course .static_tab_wrapper {
    margin: 0 auto;
    max-width: 1180px;
    padding: 0;
}
.container > div {
    background: #fbfffd none repeat scroll 0 0;
    border: 1px solid #d1d5d3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    display: table;
    table-layout: fixed;
    width: 100%;
}
.course-wrapper {
    position: relative;
}
/****************************************************/

.wrapper-course-material .course-material, .wrapper-preview-menu .preview-menu {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
}

/********su-container********************************************/
#su-header {
    background: #8c1515 none repeat scroll 0 0;
    box-shadow: 0 -4px 8px -2px rgba(0, 0, 0, 0.2) inset;
    min-height: 30px;
}

#su-header .su-container:after {
  clear: both;
}

#su-header .su-container {
  width: 1180px;
  margin: 0 auto;
}

/* Prevent flush left */
#su-header .su-container img {
  padding: 4px 0 0;
}

body.view-in-course {
  margin: 0;
  background-color: #fbfffd;
}
/******header**********************************************/
body.view-in-course header.global, body.view-in-course header.global.slim {
    width: auto;
}
header.global.slim {
    background: #e1e5e3 none repeat scroll 0 0;
    border-bottom: 1px solid #d1d5d3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: auto;
    padding: 5px 0 10px;
}
/******header**********************************************/

/******nav.nav-wrapper**********************************************/
header.global nav:after {
    clear: both;
    content: "";
    display: table;
}
body.view-in-course header.global.slim .nav-wrapper {
    min-width: auto;
    padding-left: 2%;
    padding-right: 2%;
}

header.global.slim nav {
    padding-top: 5px;
}
header.global nav {
    height: 40px;
    margin: 0 auto;
    max-width: 1180px;
    padding: 18px 10px 0;
}
header, nav {
    display: block;
}
/******nav.nav-wrapper**********************************************/


/******h1.logo**********************************************/
header.global.slim h1.logo:before {
    content: "";
    display: block;
    height: 35px;
    position: absolute;
    right: 3px;
    top: 0;
    width: 1px;
}

header.global.slim h1.logo:after {
    content: "";
    display: block;
    height: 35px;
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
}
header.global.slim h1.logo:after {
    background: transparent none repeat scroll 0 0;
    height: 100%;
    width: 1px;
}
header.global.slim h1.logo {
    margin: 0 10px 0 0;
    padding-right: 20px;
}
header.global h1.logo {
    float: left;
    margin: -2px 39px 0 0;
    position: relative;
}
body, h1, h2, h3, h4, h5, h6, p, label {
    font-family: Verdana,Geneva,sans-serif,sans-serif;
    text-align: left;
}
h1 {
    color: #313533;
    letter-spacing: 1px;
}
/******h1.logo**********************************************/

/******h1.logo img**********************************************/
header.global.slim h1.logo img {
    height: 30px;
}
img {
    max-width: 100%;
}
img {
    border: 0 none;
    vertical-align: middle;
}
header.global.slim h1.logo a {
    line-height: 1em;
}
a, a:visited {
    color: #4f7573;
    font: inherit;
}
/******h1.logo img**********************************************/


/*****course-header***********************************************/
header.global.slim h2 {
    color: #515553;
    display: block;
    float: left;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-top: 9px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 0 1px 0 #fff;
    text-transform: none;
    white-space: nowrap;
}

/*****course-header***********************************************/

/*****user***********************************************/
header.global .user {
    float: right;
    margin: 0;
    padding-left: 0;
}


/*****user***********************************************/


/*****user-link***********************************************/
#global-navigation .nav-wrapper .user .primary a.user-link {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
}

header.global .user > .primary > a {
    background-image: none;
    margin: 0;
}
header.global .primary > a:last-child {
    margin-right: 0;
}
header.global .user .user-link {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 0;
    position: relative;
    text-transform: none;
}
header.global .primary > a {
    background-color: #d1d5d3;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    color: #313533;
    display: inline-block;
    font-family: "Source Sans","Open Sans",Verdana,Geneva,sans-serif,sans-serif;
    line-height: 1em;
    margin: 1px 5px;
    padding: 10px 12px;
    text-decoration: none;
    text-shadow: 0 1px rgba(255, 255, 255, 0.6);
    text-transform: uppercase;
    vertical-align: middle;
}

header.global .user .user-link .user-image-frame {
    border-radius: 10%;
    max-width: 40px;
}

header.global .user .user-link .label-username {
    float: right;
    margin: 15px 5px 15px 15px;
}
/*****user-link***********************************************/


/*****dropdown***********************************************/
#global-navigation .nav-wrapper .user .primary button.dropdown {
    background: transparent none repeat scroll 0 0;
    padding: 5px 10px 10px;
    cursor: pointer;
}

header.global .user .dropdown {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    color: #313533;
    font-size: 0.875em;
    padding: 0 10px;
    text-shadow: none;
}

header.global .user > .primary {
    display: block;
    float: left;
    margin: 0;
    position: relative;
}
/*****dropdown***********************************************/

/*****dropdown-menu***********************************************/
header.global .user .dropdown-menu:before {
    background: transparent none repeat scroll 0 0;
    border-color: #fcfcfc #fcfcfc transparent transparent;
    border-style: solid;
    border-width: 6px;
    box-shadow: 1px 0 0 0 #c8c8c8, 0 -1px 0 0 #c8c8c8;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 7px;
    top: -5px;
    width: 0;
    -webkit-transform: rotate(-45deg);/* for Chrome || Safari */
    -moz-transform: rotate(-45deg);/* for Firefox */
    -ms-transform: rotate(-45deg);/* for IE */
    -o-transform: rotate(-45deg);/* for Opera */
    transform: rotate(-45deg); 
    /*whether to take effect or not related to the order of placement*/
}


header.global .user .dropdown-menu.expanded {
    display: block;
}
header.global .user .dropdown-menu {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #c8c8c8;
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
    display: none;
    margin-top: 0;
    min-width: 120px;
    padding: 5px 10px;
    position: absolute;
    right: 5px;
    top: 37px;
    z-index: 3;
}
nav ul, nav ol {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

ul, ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
}


header.global .user .dropdown-menu li > a {
    border: 1px solid transparent;
    border-radius: 3px;
    box-sizing: border-box;
    color: #4f7573;
    cursor: pointer;
    display: block;
    margin: 5px 0;
    overflow: hidden;
    padding: 3px 5px 4px;
    text-overflow: ellipsis;
    transition: padding 0.15s linear 0s;
    white-space: nowrap;
    width: 100%;
}

header.global .user .dropdown-menu li > a:hover, 
header.global .user .dropdown-menu li > a:focus {
    color: #313533;
    text-decoration: none;
}

a, a:visited {
    font: inherit;
    text-decoration: none;
}

header.global .user .dropdown-menu li {
   border-bottom: 1px dashed #E1E5E3;
}

header.global .user .dropdown-menu li:last-child { border-bottom: none }


/*****dropdown-menu***********************************************/


/*********paragraph bookmark icon*********************************/
.course-content .bookmark-icon.bookmarked {
    left: 5px;
    position: absolute;
    top: -3px;
}
.fa-fw {
    text-align: center;
    width: 1.28571em;
}
.fa {
    display: inline-block;
    font-family: FontAwesome;
    font-feature-settings: normal;
    font-kerning: auto;
    font-language-override: normal;
    font-size: inherit;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    transform: translate(0px, 0px);
}

.xmodule_display.xmodule_CourseModule .is-hidden,.xmodule_display.xmodule_SequenceModule .is-hidden{
  display:none;
}
/*********paragraph bookmark icon*********************************/

div.bookmark-button-wrapper button.bookmark-button {
  margin-bottom: 10px;
}


/**************video***************************************/
.course-wrapper .course-content .vert-mod .vert:after, .course-wrapper .courseware-results-wrapper .vert-mod .vert:after {
    clear: both;
}

.nav-skip {
    background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #fcfcfc;
    display: block;
    height: 1px;
    left: 0;
    overflow: hidden;
    padding: 15px 10px;
    position: absolute;
    top: -600px;
    width: 1px;
}
/**************video***************************************/





/**************course-video***************************************/
body.view-in-course .course-license {
    margin: 0 auto;
    max-width: 1180px;
    padding-left: 2%;
    padding-right: 2%;
}
.content-wrapper .course-license, .content-wrapper .xblock-license {
    color: #5e5e5e;
    display: block;
    padding: 5px 0;
    text-align: right;
    width: auto;
}

/***********pagination button********************************************/

#course-content .sequence-bottom .sequence-nav-button.button-previous {
    padding-left: 30px;
}
#course-content .sequence-bottom .sequence-nav-button {
    padding: 8px 10px;
    text-align: center;
    text-indent: 0;
    width: 110px;
    cursor: pointer;
}

#course-content .sequence-bottom .sequence-nav-button.button-next {
    padding-right: 30px;
}

#course-content .sequence-bottom {
    width: 220px;
}

#course-content .sequence-bottom .sequence-nav-button .icon {
    position: absolute;
    top: 16px;
}

#course-content .sequence-bottom .sequence-nav-button.button-previous .icon {
    left: 15px;
}

#course-content .sequence-bottom .sequence-nav-button.button-next .icon {
    right: 15px;
}


.nav-utilities, .xmodule_display.xmodule_CourseModule .sequence-nav-button, .xmodule_display.xmodule_VideoModule .video .video-pre-roll, .xmodule_display.xmodule_VideoModule .a11y-menu-container .a11y-menu-list, .xmodule_display.xmodule_SequenceModule .sequence-nav-button, .modal-backdrop {
    z-index: 1000;
}


.light-button, div.history-controls input[type="submit"], a.light-button, .gray-button, input[type="reset"], input[type="submit"], input[type="button"],button.check.Final.Submit, button.save, .button, form input[type="reset"], form input[type="submit"], form input[type="button"], form button, form .button,.xmodule_display.xmodule_SequenceModule  button.sequence-nav-button {
    background-clip: padding-box;
    background-color: #f1f1f1;
    background-image: linear-gradient(#f1f1f1, #d9d1d1);
    border: 1px solid #d2c9c9;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #fff inset;
    color: #333;
    display: inline-block;
    font-size: 0.8125em;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fcfbfb;
}

.type-fa{
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    line-height: 1.35em;
    font-size: 32px;
    font-family: "Ionicons";
}

/********.proctored_exam_status******************/
.btn-blue, .view-teams .action-primary, .instructor-dashboard-wrapper-2 section#certificates.idash-section .btn-blue, .btn-pink, .proctored_exam_status .exam-timer .exam-button-turn-in-exam, .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary, .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary, div.info-wrapper section.updates > ol .show-older-updates, div.info-wrapper section.updates section .show-older-updates, .btn-secondary, .view-teams .card .card-actions .action-view {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: color 0.25s ease-in-out 0s, background 0.25s ease-in-out 0s, box-shadow 0.25s ease-in-out 0s;
}
.btn-blue:hover, .view-teams .action-primary:hover, .instructor-dashboard-wrapper-2 section#certificates.idash-section .btn-blue:hover, .btn-pink:hover, .proctored_exam_status .exam-timer .exam-button-turn-in-exam:hover, .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary:hover, .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary:hover, .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary:hover, .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary:hover, div.info-wrapper section.updates > ol .show-older-updates:hover, div.info-wrapper section.updates section .show-older-updates:hover, .btn-secondary:hover, .view-teams .card .card-actions .action-view:hover, .btn-blue:active, .view-teams .action-primary:active, .instructor-dashboard-wrapper-2 section#certificates.idash-section .btn-blue:active, .btn-pink:active, .proctored_exam_status .exam-timer .exam-button-turn-in-exam:active, .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary:active, .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary:active, .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary:active, .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary:active, div.info-wrapper section.updates > ol .show-older-updates:active, div.info-wrapper section.updates section .show-older-updates:active, .btn-secondary:active, .view-teams .card .card-actions .action-view:active, .btn-blue:focus, .view-teams .action-primary:focus, .instructor-dashboard-wrapper-2 section#certificates.idash-section .btn-blue:focus, .btn-pink:focus, .proctored_exam_status .exam-timer .exam-button-turn-in-exam:focus, .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary:focus, .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary:focus, .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary:focus, .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary:focus, div.info-wrapper section.updates > ol .show-older-updates:focus, div.info-wrapper section.updates section .show-older-updates:focus, .btn-secondary:focus, .view-teams .card .card-actions .action-view:focus {
    text-decoration: none;
}
.disabled.btn-blue, .view-teams .disabled.action-primary, .instructor-dashboard-wrapper-2 section#certificates.idash-section .disabled.btn-blue, .disabled.btn-pink, .proctored_exam_status .exam-timer .disabled.exam-button-turn-in-exam, .course-wrapper .course-content div.timed-exam .disabled.exam-action-button.btn-pl-primary, .course-wrapper .course-content div.proctored-exam .disabled.exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.timed-exam .disabled.exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.proctored-exam .disabled.exam-action-button.btn-pl-primary, div.info-wrapper section.updates > ol .disabled.show-older-updates, div.info-wrapper section.updates section .disabled.show-older-updates, .disabled.btn-secondary, .view-teams .card .card-actions .disabled.action-view, .btn-blue[disabled], .view-teams .action-primary[disabled], .instructor-dashboard-wrapper-2 section#certificates.idash-section .btn-blue[disabled], .btn-pink[disabled], .proctored_exam_status .exam-timer .exam-button-turn-in-exam[disabled], .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary[disabled], .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary[disabled], .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary[disabled], .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary[disabled], div.info-wrapper section.updates > ol .show-older-updates[disabled], div.info-wrapper section.updates section .show-older-updates[disabled], .btn-secondary[disabled], .view-teams .card .card-actions .action-view[disabled] {
    cursor: default;
    pointer-events: none;
}
.btn-blue, .view-teams .action-primary, .instructor-dashboard-wrapper-2 section#certificates.idash-section .btn-blue, .btn-pink, .proctored_exam_status .exam-timer .exam-button-turn-in-exam, .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary, .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary, div.info-wrapper section.updates > ol .show-older-updates, div.info-wrapper section.updates section .show-older-updates, .btn-secondary, .view-teams .card .card-actions .action-view {
    border-radius: 2px;
}

.btn-blue, .view-teams .action-primary, .instructor-dashboard-wrapper-2 section#certificates.idash-section .btn-blue, .btn-pink, .proctored_exam_status .exam-timer .exam-button-turn-in-exam, .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary, .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary, div.info-wrapper section.updates > ol .show-older-updates, div.info-wrapper section.updates section .show-older-updates, .btn-secondary, .view-teams .card .card-actions .action-view {
    border: medium none;
    padding: 15px 20px;
    text-align: center;
}
.disabled.btn-blue, .view-teams .disabled.action-primary, .instructor-dashboard-wrapper-2 section#certificates.idash-section .disabled.btn-blue, .disabled.btn-pink, .proctored_exam_status .exam-timer .disabled.exam-button-turn-in-exam, .course-wrapper .course-content div.timed-exam .disabled.exam-action-button.btn-pl-primary, .course-wrapper .course-content div.proctored-exam .disabled.exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.timed-exam .disabled.exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.proctored-exam .disabled.exam-action-button.btn-pl-primary, div.info-wrapper section.updates > ol .disabled.show-older-updates, div.info-wrapper section.updates section .disabled.show-older-updates, .disabled.btn-secondary, .view-teams .card .card-actions .disabled.action-view, .is-disabled.btn-blue, .view-teams .is-disabled.action-primary, .instructor-dashboard-wrapper-2 section#certificates.idash-section .is-disabled.btn-blue, .is-disabled.btn-pink, .proctored_exam_status .exam-timer .is-disabled.exam-button-turn-in-exam, .course-wrapper .course-content div.timed-exam .is-disabled.exam-action-button.btn-pl-primary, .course-wrapper .course-content div.proctored-exam .is-disabled.exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.timed-exam .is-disabled.exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.proctored-exam .is-disabled.exam-action-button.btn-pl-primary, div.info-wrapper section.updates > ol .is-disabled.show-older-updates, div.info-wrapper section.updates section .is-disabled.show-older-updates, .is-disabled.btn-secondary, .view-teams .card .card-actions .is-disabled.action-view, .btn-blue[disabled], .view-teams .action-primary[disabled], .instructor-dashboard-wrapper-2 section#certificates.idash-section .btn-blue[disabled], .btn-pink[disabled], .proctored_exam_status .exam-timer .exam-button-turn-in-exam[disabled], .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary[disabled], .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary[disabled], .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary[disabled], .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary[disabled], div.info-wrapper section.updates > ol .show-older-updates[disabled], div.info-wrapper section.updates section .show-older-updates[disabled], .btn-secondary[disabled], .view-teams .card .card-actions .action-view[disabled] {
    background: #a4a6a8 none repeat scroll 0 0;
    color: rgba(255, 255, 255, 0.75);
}

.proctored_exam_status .exam-timer .exam-button-turn-in-exam, .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary, .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary, div.info-wrapper section.updates > ol .show-older-updates, div.info-wrapper section.updates section .show-older-updates, .btn-secondary, .view-teams .card .card-actions .action-view {
    background-color: transparent;
    border: 1px solid #1d3433;
    border-radius: 3px;
    box-sizing: border-box;
    color: #1d3433;
    letter-spacing: 0;
    padding: 8px 20px;
    text-align: center;
}
.proctored_exam_status .exam-timer .exam-button-turn-in-exam:hover, .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary:hover, .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary:hover, .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary:hover, .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary:hover, div.info-wrapper section.updates > ol .show-older-updates:hover, div.info-wrapper section.updates section .show-older-updates:hover, .btn-secondary:hover, .view-teams .card .card-actions .action-view:hover, .proctored_exam_status .exam-timer .exam-button-turn-in-exam:focus, .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary:focus, .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary:focus, .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary:focus, .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary:focus, div.info-wrapper section.updates > ol .show-older-updates:focus, div.info-wrapper section.updates section .show-older-updates:focus, .btn-secondary:focus, .view-teams .card .card-actions .action-view:focus {
    background-color: #2f5553;
    border: 1px solid transparent;
    color: #e1e5e3;
    text-decoration: none;
}
.proctored_exam_status .exam-timer .exam-button-turn-in-exam, .course-wrapper .course-content div.timed-exam .exam-action-button.btn-pl-primary, .course-wrapper .course-content div.proctored-exam .exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.timed-exam .exam-action-button.btn-pl-primary, .course-wrapper .courseware-results-wrapper div.proctored-exam .exam-action-button.btn-pl-primary {
    background-color: #1d3433;
    color: #e1e5e3;
}

.proctored_exam_status.is-fixed {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    width: 100%;
}
.proctored_exam_status .exam-timer {
    background-color: #e5eaec;
    border-left: 4px solid #c5d5d4;
    color: #474747;
    font-size: 14px;
    margin: 0 auto;
    padding: 20px 40px;
}
.proctored_exam_status .exam-timer .exam-text {
    display: inline-block;
    width: calc(100% - 250px);
}
.proctored_exam_status .exam-timer a {
    color: #0979ba;
}
.proctored_exam_status .exam-timer .pull-right {
    color: #5e5e5e;
}
.proctored_exam_status .exam-timer .pull-right b {
    color: #2f2f2f;
}
.proctored_exam_status .exam-timer .turn_in_exam {
    margin-top: -6px;
}
.proctored_exam_status .exam-timer.low-time {
    background-color: #4f585c;
    color: #c8c8c8;
}
.proctored_exam_status .exam-timer.low-time a {
    color: #fff;
    text-decoration: underline;
}
.proctored_exam_status .exam-timer.low-time .pull-right {
    color: #c8c8c8;
}
.proctored_exam_status .exam-timer.low-time .pull-right b {
    color: #fff;
}
.proctored_exam_status .exam-timer.low-time .pull-right .exam-button-turn-in-exam {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
.proctored_exam_status .exam-timer.low-time .pull-right .exam-button-turn-in-exam:hover {
    background-color: #fff;
    border: 1px solid #fff;
    color: #2f5553;
}
.proctored_exam_status .exam-timer.warning {
    border-left-color: #b52a67;
}
.proctored_exam_status .exam-timer.critical {
    border-left-color: #d44040;
    color: #fff;
}
.proctored_exam_status .exam-timer .exam-button-turn-in-exam {
    background-image: none;
    border: 0 none;
    box-shadow: none;
    margin-right: 20px;
    padding: 4px 15px;
    text-shadow: none;
}
.proctored_exam_status .exam-timer .exam-button-turn-in-exam:hover, .proctored_exam_status .exam-timer .exam-button-turn-in-exam:focus {
    border: 0 none;
}

.proctored_exam_status .exam-timer .pull-right {
    float: right;
}
/********.proctored_exam_status******************/

.xmodule_display.xmodule_CapaModule div.problem p.equality {
    float: left;
}

div#seq_content .bookmark-button-wrapper button.bookmark-button {
  float:right;
}

div#seq_content .vert-mod  {
  clear:both;
}

/**************course-video***************************************/


